body {
    margin: 0;
    font-family: monospace, sans-serif;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* top to down */
.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 
}